
import("grid")
import("hexView")
importFrom("systemfonts",
           "match_font")
importFrom("grDevices",
           "rgb")
importFrom("xml2",
           "read_xml",
           "write_xml",
           "xml_add_child",
           "xml_add_sibling",
           "xml_attr",
           "xml_attrs",
           "xml_children",
           "xml_comment",
           "xml_dtd",
           "xml_find_all",
           "xml_find_first",
           "xml_name",
           "xml_new_root",
           "xml_replace",
           "xml_root",
           "xml_set_attr",
           "xml_set_text",
           "xml_text")

export("readDVI",

       "grid.dvi", "dviGrob",

       "grid.latex", "latexGrob",
       "grid.lualatex", "lualatexGrob",
       "grid.xelatex", "xelatexGrob",
       
       "fontMap",
       
       "TeXengine", 
       "luatexEngine", "lualatexEngine",
       "uptexEngine", "uplatexEngine",
       "xetexEngine", "xelatexEngine",

       "xcolorPackage",
       "fontspecPackage")

S3method("print", "DVI")

S3method("dviGrob", "DVI")

S3method("buildGrob", "XDVIRglyphObj")
S3method("buildGrob", "XDVIRruleObj")

S3method("packagePreamble", "NULL")
S3method("packagePreamble", "xdvirPackage")
S3method("packagePreamble", "list")
S3method("packagePrefix", "NULL")
S3method("packagePrefix", "xdvirPackage")
S3method("packagePrefix", "list")
S3method("packageSuffix", "NULL")
S3method("packageSuffix", "xdvirPackage")
S3method("packageSuffix", "list")
S3method("resolvePackage", "character")
S3method("resolvePackage", "xdvirPackage")
S3method("resolvePackages", "NULL")
S3method("resolvePackages", "character")
S3method("resolvePackages", "xdvirPackage")
S3method("resolvePackages", "list")
